.box{
    width: 650px;
    margin: 100px auto;
    /*height: 500px;*/
    border:1px solid #ddd;
    padding: 15px 20px;
    box-shadow: 1px 1px 5px gray;
     border-radius: 10px;
}
.head{
    margin: 20px auto;
    width: 50%;

}
.form-control{
    width: 60%;
    margin: 10px auto;
}
.err-pass-un{
    width: 250px;
    /*height: 28px;*/
    margin: 10px auto;
    background-color: #ffa7b9;
    color: darkred;
    padding: 5px;
    border-radius: 5px;

}