* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: yekan;
    /* line-height: 1.2em; */
}

body {
    background-image: linear-gradient(to right, rgb(231, 231, 231), rgb(255, 255, 255), rgb(231, 231, 231));
}

@font-face {
    font-family: 'yekan';
    src: url('../Fonts/yekan.eot?#') format('embedded-opentype'),
    url('../Fonts/yekan.ttf') format('truetype');
}

.font11 {
    font: 11px yekan;
}

.font13 {
    font: 13px yekan;
}

.font15 {
    font: 15px yekan;
}

.font17 {
    font: 17px yekan;
}

.font19 {
    font: 19px yekan;
}

.font21 {
    font: 21px yekan;
}

.first-div-h {
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px 30px;
    background-color: #eee;
    border-bottom: 2px solid #ddd;
    display: table;
}

.main-nav {
    display: inline-block;
    /* border : 1px solid red; */
}

.main-nav li a {
    border-bottom: 1px solid transparent;
}

.main-nav li a:hover {
    text-shadow: 2px 2px 10px rgb(135, 199, 255);
}

.date {
    display: table-cell;
    border: 3px inset #337AB7;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
    padding: 2px 20px;
    float: left;
    color: white;
    transition: background 1s;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    background: linear-gradient(90deg, rgb(5, 0, 95) 0%, rgb(13, 13, 161) 35%, rgba(0, 212, 255, 1) 100%);
}

.date:hover {
    display: table-cell;
    border: 3px inset #337AB7;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
    padding: 2px 20px;
    float: left;
    color: white;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgb(13, 13, 161) 35%, rgb(5, 0, 95) 100%);
    cursor: pointer;
}


@media (max-width: 768px) {
    .date {
        display: table-cell;
        border: 3px inset #337AB7;
        border-radius: 36px;
        -webkit-border-radius: 36px;
        -moz-border-radius: 36px;
        -ms-border-radius: 36px;
        -o-border-radius: 36px;
        padding: 2px 20px;
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-top: 20px;
        font-size: 15px !important;
        color: white;
        background: linear-gradient(90deg, rgb(5, 0, 95) 0%, rgb(13, 13, 161) 35%, rgba(0, 212, 255, 1) 100%);
    }
}

@media (max-width: 768px) {
    .date:hover {
        display: table-cell;
        border: 3px inset #337AB7;
        border-radius: 36px;
        -webkit-border-radius: 36px;
        -moz-border-radius: 36px;
        -ms-border-radius: 36px;
        -o-border-radius: 36px;
        padding: 2px 20px;
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-top: 20px;
        font-size: 15px !important;
        background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgb(13, 13, 161) 35%, rgb(5, 0, 95) 100%);
        cursor: pointer;
    }
}

.time {
    display: table-cell;
    border: 3px inset #337AB7;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
    padding: 2px 20px;
    float: left;
    color: white;
    width: 100px;
    margin-left: 3px;
    margin-right: 3px;
    transition: background 1s;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    background: linear-gradient(90deg, rgb(5, 0, 95) 0%, rgb(13, 13, 161) 35%, rgba(0, 212, 255, 1) 100%);
}

.time:hover {
    display: table-cell;
    border: 3px inset #337AB7;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
    padding: 2px 20px;
    float: left;
    color: white;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgb(13, 13, 161) 35%, rgb(5, 0, 95) 100%);
    cursor: pointer;
}


@media (max-width: 768px) {
    .time {
        display: table-cell;
        border: 3px inset #337AB7;
        border-radius: 36px;
        -webkit-border-radius: 36px;
        -moz-border-radius: 36px;
        -ms-border-radius: 36px;
        -o-border-radius: 36px;
        padding: 2px 20px;
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-top: 20px;
        font-size: 15px !important;
        color: white;
        background: linear-gradient(90deg, rgb(5, 0, 95) 0%, rgb(13, 13, 161) 35%, rgba(0, 212, 255, 1) 100%);
    }
}

@media (max-width: 768px) {
    .time:hover {
        display: table-cell;
        border: 3px inset #337AB7;
        border-radius: 36px;
        -webkit-border-radius: 36px;
        -moz-border-radius: 36px;
        -ms-border-radius: 36px;
        -o-border-radius: 36px;
        padding: 2px 20px;
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-top: 20px;
        font-size: 15px !important;
        background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgb(13, 13, 161) 35%, rgb(5, 0, 95) 100%);
        cursor: pointer;
    }
}

.img-2lines {
    display: inline-block;
    background-image: url('../images/botton1.png');
    width: 50%;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.second-div-h {
    width: 100%;
    margin: 0 auto;
    padding: 40px 30px 10px;
    background-color: rgb(232, 232, 255);
    border-bottom: 3px solid #ddd;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.ul-for-title {
    margin: 0 auto;
    list-style: none;
    display: inline;
    font-weight: bold;
}

.ul-for-title li {

    padding-bottom: 10px;
    color: #1B76C9;
}

@media (max-width: 768px) {
    .ul-for-title li {
        padding-bottom: 5px;
        color: rgb(0, 0, 0);
    }
}

.bpj-logo {
    width: 45%;
    height: 100px;
    margin: 0 auto;
}

.small-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}


/* ---------------------------------------------------------------------------- */
.input-btn{
    margin-bottom: 5px !important;
}

.title-of-login {
    width: 50%;
    padding: 20px;
    min-height: 450px;
    z-index: 101;
    background-color: #fff !important;
    position: fixed;
    right: 25%;
    top: 10%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 1px 1px 6px 0 rgb(88, 88, 88);
    display: none;
}

@media (max-width: 768px) {
    .title-of-login {
        z-index: 100;
        background-color: #fff !important;
        position: fixed;
        right: 10%;
        top: 7%;
        width: 80%;
        padding: 20px;
        min-height: 460px;
    }
}

.title-of-login ul {
    padding: 0;
    position: relative;
}

.title-of-login ul:before {
    content: '';
    width: 90%;
    height: 4px;
    background-color: #ddd;
    top: 98%;
    right: 5%;
    position: absolute;
    border-radius: 80%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%;
}

.title-of-login ul li {
    list-style: none;
    display: inline-block;
    margin: 0 100px;
    width: 100px;
    cursor: pointer;
    font: 21px yekan;
}

@media (max-width: 1200px) {
    .title-of-login ul li {
        list-style: none;
        display: inline-block;
        margin: 0 30px;
        width: 50px;
        cursor: pointer;
        font: 15px yekan;

    }
}

.title-of-login ul li.Active {
    border-bottom: 3px solid #1B76C9;
}

.tabs-content {
    padding: 40px 10px 5px;
}

.tabs-content :nth-child(2) {
    display: none;
}


#sec-log-reg {
    padding: 0 60px;
}

#sec-log-reg form div input {
    margin-bottom: 20px;
    height: 38px;
}

@media (max-width: 768px) {
    #sec-log-reg {
        padding: 0 10px;
    }
}

.first-div-f {
    width: 100%;
    margin: 0 auto;
    background-color: #eee;
    border-top: 1px solid #ddd;
}

.tabs-content :nth-child(2) form div input {
    margin-bottom: 40px !important;
    height: 45px !important;
}

.tabs-content :nth-child(2) form div h4 {

    margin: -10px auto 20px;

}

.tabs-content :nth-child(2) form div h4 a {
    text-decoration: none;
}

.body-cover {

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    top: 0;
    display: none;
    z-index: 100;
}

.workshop-table {
    width: 60%;
    margin: 0 auto;
    padding: 5px 0;
    border: 1px solid #ddd;
}

.workshop-title {
    width: 60%;
    margin: 0 auto;
    background-color: rgb(238, 238, 255);
    cursor: pointer;
    padding: 5px 0;
    border: 1px solid #ddd;
}

.workshop-title:hover {
    width: 60%;
    margin: 0 auto;
    background-color: rgb(238, 238, 255);
    cursor: pointer;
    color: rgb(0, 0, 170);

}

.workshop {
    display: none;

}

.fix {
    height: 450px;
}

@media (max-width: 767px) {
    .fix {
        height: 650px;
    }
}

.btn-err {
    margin: 10px auto;
}

.err-pass-un {
    width: 40%;
    min-height: 200px;
    background: linear-gradient(90deg, rgb(255, 206, 202) 0%, rgb(255, 241, 241) 35%, rgb(255, 206, 202) 100%);
    font-weight: bolder;
    color: darkred;
    position: absolute;
    top: 30%;
    right: 30%;
    border-radius: 20px;
    z-index: 1003;
    font: 17px yekan;
    filter: drop-shadow(2px 2px 100px gray);
    border: 5px groove #ab392e;
    text-align: center;
}

.register-success {
    width: 40%;
    min-height: 200px;
    background-color: #DAF9D0;
    font-weight: bold;
    color: darkgreen;
    position: absolute;
    top: 30%;
    right: 30%;
    border-radius: 20px;
    z-index: 1003;
    font: 17px yekan;
    filter: drop-shadow(2px 2px 100px gray);
    border: 1px solid green;
    text-align: center;
    padding: 5px!important;
}

.text-on-err-pass-un {
    margin: 90px 10px;
}

.exit-svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    fill: red;
    position: absolute;
    right: 10px;
    top: 10px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.75));
}

.exit-svg:hover {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 500ms ease;
    fill: #b70000 !important;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.75));
}

@media (max-width: 768px) {
    .err-pass-un {
        width: 70%;
        background: linear-gradient(90deg, rgb(255, 206, 202) 0%, rgb(255, 241, 241) 35%, rgb(255, 206, 202) 100%);
        font-weight: bolder;
        color: darkred;
        position: absolute;
        top: 30%;
        right: 15%;
        border-radius: 20px;
        z-index: 1003;
        font: 17px yekan;
        filter: drop-shadow(2px 2px 100px gray);
        border: 5px groove #ab392e;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .register-success {
        width: 70%;
        background-color: #DAF9D0;
        font-weight: bolder;
        color: darkgreen;
        position: absolute;
        top: 30%;
        right: 15%;
        border-radius: 20px;
        z-index: 1003;
        font: 17px yekan;
        filter: drop-shadow(2px 2px 100px gray);
        border: 1px solid green;
        text-align: center;
    }
}
